<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- nightmode-toggle -->
<script>
  $(document).ready(function () {
    var input = $("#night-mode-toggle"),
      button = $(".night-mode-toggle"),
      lightButton = $("#light-mode"),
      darkButton = $("#dark-mode"),
      container = $("#bigbody"),
      menuToggle = $("#menu-toggle"),
      navMenu = $("#navigation-list");

    changeMode(container, input, lightButton, darkButton);

    input.parent().show();

    button.on("click", function () {
      input.prop("checked", !input.is(":checked"));
      changeMode(container, input, lightButton, darkButton);
    });

    menuToggle.on("click", function () {
        if (navMenu.css("display").toLowerCase() == "none") {
            navMenu.show();
        } else {
            navMenu.hide();
        }
    });

    {{- if or (.Params.getForm) (.Site.Params.getForm) -}}

    $("#ajaxForm").submit(function(e) {
        e.preventDefault();

        var action = $(this).attr("action");

        $.ajax({
            type: "POST",
            url: action,
            crossDomain: true,
            data: new FormData(this),
            dataType: "json",
            contentType: "multipart/form-data",
            processData: false,
            contentType: false,
            headers: {
                "Accept": "application/json"
            }
        }).done(function() {
            $('.success').addClass('is-active');
        }).fail(function() {
            $('.error').addClass('is-active');
        });
    });

    {{- end -}}
  });

  function changeMode(container, input, lightButton, darkButton) {
    if (input.is(":checked")) {
      container.addClass("colorscheme-dark");
      container.removeClass("colorscheme-light");
      lightButton.hide();
      darkButton.show();
    } else {
      container.addClass("colorscheme-light");
      container.removeClass("colorscheme-dark");
      lightButton.show();
      darkButton.hide();
    }
  }
</script>
