<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- nightmode-toggle -->
<script>
  $(document).ready(function () {
    var input = $("#night-mode-toggle"),
      button = $(".night-mode-toggle"),
      lightButton = $("#light-mode"),
      darkButton = $("#dark-mode"),
      container = $("#bigbody"),
      menuToggle = $("#menu-toggle"),
      navMenu = $("#navigation-list");

    changeMode(container, input, lightButton, darkButton);

    input.parent().show();

    button.on("click", function () {
      input.prop("checked", !input.is(":checked"));
      changeMode(container, input, lightButton, darkButton);
    });

    menuToggle.on("click", function () {
        if (navMenu.css("display").toLowerCase() == "none") {
            navMenu.show();
        } else {
            navMenu.hide();
        }
    });
  });

  function changeMode(container, input, lightButton, darkButton) {
    if (input.is(":checked")) {
      container.addClass("colorscheme-dark");
      container.removeClass("colorscheme-light");
      lightButton.hide();
      darkButton.show();
    } else {
      container.addClass("colorscheme-light");
      container.removeClass("colorscheme-dark");
      lightButton.show();
      darkButton.hide();
    }
  }
</script>
