<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- nightmode-toggle -->
<script>
    $(document).ready(function() {
        var input = $('#night-mode-toggle');
        var button = $('.night-mode-toggle');
        var lightButton = $('#light-mode');
        var darkButton = $('#dark-mode');
        var container = $('#bigbody');

        changeMode(container, input, lightButton, darkButton);

        input.parent().show();

        button.on('click', function() {
            input.prop("checked", !input.is(':checked'));
            changeMode(container, input, lightButton, darkButton);
        });
    });

    function changeMode(container, input, lightButton, darkButton) {
        if (input.is(':checked')) {
            container.addClass("colorscheme-dark");
            container.removeClass("colorscheme-light");
            lightButton.hide();
            darkButton.show();
        } else {
            container.addClass("colorscheme-light");
            container.removeClass("colorscheme-dark");
            lightButton.show();
            darkButton.hide();
        }
    }
</script>
